// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// PENTING: Memuat library Bootstrap
@import "~bootstrap/scss/bootstrap"; 

// PENTING: Memuat style kustom Anda
@import "../css/site.css";